.App {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-message {
  background-color: pink;
  border-radius: 10px 100px / 120px;
  min-height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  margin: 5px;
}
.App-form {
  background-color: lightgrey;
  border-radius: 10px 100px / 120px;
  min-height: 800px;
  padding-top: 20px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-list {
  background-color: gainsboro;
  border-radius: 10px 100px / 120px;
  min-height: 650px;
  width: 30%;
}
.App-field {
  min-height: 700px;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Form-field {
  background-color: gainsboro;
  border-radius: 10px 100px / 120px;
  min-height: 700px;
  margin-bottom: 15px;
  width: 100%;
}
.MuiTextField-root {
  background-color: white;
  border-radius: 10px;
  margin-right: 20px;
}



